body {
    /* fonts */
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 500;
    /* posição */
    margin: 0px;
    /* overflow: hidden; */
}
.full-banner img {
    width: 100%;
}
.full-banner .title {
    padding: 10px 20px;
}
.full-banner .title h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;

    color: #064097;
}
.full-banner .title h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;

    color: #064097;
}
 #title-prod{
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;

    color: #064097;
}
.full-banner .title .title-p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #064097;
}
.sobre #title-p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #064097;
}
.full-banner .title p {
    font-size: 14px;
    font-weight: 400;

    color: #000000;
}
.sobre.title-p {
    font-size: 14px;
    font-weight: 400;

    color: #000000;
}
