*{
    transition: 0.3s;
    transition-duration: 0.2s;
}
body {
position: relative;
height: auto;
}

.swiper {
    width: 88%;
    height: 50%;
    /* padding: 10px 20px; */
    color: #fff;
    border-radius: 20px;
}

.swiper-slide {
/* text-align: center; */
/* font-size: 18px; */
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.swiper .swiper-button-next::after, .swiper-button-prev::after  {
    font-size: 20px;
}
.swiper-button-next:after {
    content: 'next';
    font-size: 20px !important;
}
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
    font-size: 20px !important;
}
.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}
.swiper .card-prod-id {
    background-image: url(../image/card-prod-id.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.swiper .card-prod-sp {
    background-image: url(../image/card-prod-sp.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.swiper .card-prod-ux {
    background-image: url(../image/card-prod-ux.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.swiper .card-prod-ui {
    background-image: url(../image/card-prod-ui.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.swiper .card-prod-wa {
    background-image: url(../image/card-prod-wa.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.swiper .card-prod-ec {
    background-image: url(../image/card-prod-ec.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.swiper .card-prod-cd {
    background-image: url(../image/card-prod-cd.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.swiper .card-prod-classi {
    background-image: url(../image/card-prod-classi.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/*  .card-prod-sp .card-prod-ux .card-prod-ui .card-prod-wa .card-prod-ec .card-prod-cd .card-prod-classi  */
.swiper .btn-prod {
    background-color: #fff;
    color: #064097;
    padding: 10px 20px;
    text-decoration: none;
    border: 0px;
    border-radius: 20px;
}
.swiper .title {
    padding-top: 150px;
}
.swiper .title h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;

}
.swiper .title .title-p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}
/* sobre o produto */
.sobre-prod {
    padding: 10px;
    overflow-y: scroll;
    height: 55%;
}
.valor{
    padding: 15px;
}
.footer-prod {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    bottom: 0px;
    position: fixed;
}
.footer-prod a {
    color: #064097 !important;

}
/* imagens dos produtos */
div#desc-prod-id {
    transition-duration: 0.3s;
    transition-delay: 0.3s;
    display: none;
    bottom: 0px;
    position: absolute;
    z-index: 9999;
    color: #064097;
    background-color: rgb(255, 255, 255);
    height: 85%;
    border: 0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
    padding: 20px;
}
div#desc-prod-sp {
    transition-duration: 0.3s;
    transition-delay: 0.3s;
    display: none;
    bottom: 0px;
    position: absolute;
    z-index: 9999;
    color: #064097;
    background-color: rgb(255, 255, 255);
    height: 70%;
    border: 0px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
    padding: 20px;
}

.btn-prod {
    background-color: #fff;
    color: #064097;
    padding: 10px 20px;
    text-decoration: none;
    border: 0px;
    border-radius: 20px;
}
.sobre .title h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;

    color: #064097;
}
.sobre .title #title-p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #064097;
}
.sobre .title p {
    font-size: 14px;
    font-weight: 400;

    color: #000000;
}
