body {
    /* fonts */
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: 500;
    /* posição */
    margin: 0px;
    overflow: hidden;
}

.full-banner img {
    width: 100%;
}
.full-banner .title {
    padding: 20px;
}
.full-banner .title h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;

    color: #064097;
}
.full-banner .title .title-p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #064097;
}
.skills .title-p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #064097;
    margin: 1px;
}
.skills .skills-v {
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.full-banner .title p {
    font-size: 14px;
    font-weight: 400;

    color: #000000;
}
.skills {
    overflow-y: scroll;
    padding: 20px;
    height: 190px;
}
.skills .skills-parent {
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
}
footer .buttons-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
footer .buttons-footer a {
    color: white;
    background: #064097;
    border: 0px;
    border-radius: 100px;
    padding: 15px 17px;
}
footer .buttons-footer a .fa-whatsapp  {
font-size: 20px;
}
footer .buttons-footer a .fa-chevron-right  {
font-size: 20px;
}